<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List users</title>
</head>
<body>

<div>

  <table bgcolor="#f0e68c" border="4">

    <caption>
      <h3>List peoples</h3>
    </caption>
    <tr>
      <th> Number </th>
      <th> Name </th>
      <th> Surname </th>
      <th> email </th>
      <th> login </th>
      <th> password </th>
      <th> role </th>
      <th> update </th>
      <th> delete </th>
      <th> show user </th>


    <tr th:each="user: ${users}">

      <td style="text-align: center" th:text="${user.getId()}"></td>

      <td style="text-align: center" th:text="${user.getFirstName()}"></td>

      <td style="text-align: center"  th:text="${user.getLastName()}"></td>

      <td style="text-align: center" th:text="${user.getEmail()}"></td>

      <td style="text-align: center" th:text="${user.getUsername()}"></td>

      <td style="text-align: center" th:text="${user.getPassword()}"></td>
      <td style="text-align: center" th:text="${user.getAuthorities()}"></td>


      <td>
      <a style="text-align: center" th:href="@{/admin/{id}/edit(id=${user.getId()})}" th:text="update">us</a>
      </td>


      <td>
        <a style="text-align: center" th:href="@{/admin/del{idDelete}(idDelete=${user.getId()})}" th:text="delete">us</a>
      </td>

      <td>
        <a style="text-align: center" th:href="@{/admin/{idShow}(idShow=${user.getId()})}" th:text="show_user">us</a>
      </td>


    </tr>
  </table>

</div>

<br/>
<hr/>

<a href="/admin/new"><h3>Create new user</h3>></a>
<br/>
<br/>
<form th:action="@{/logout}" th:method="POST">
  <input type="submit" value="LOGOUT" />
</form>

</body>
</html>




